.Task {
  padding: 30px;
  background: #ffffff;
  border-radius: 8px;
  align-self: start;

  &__info-blocks {
    padding-bottom: 30px;
    border-bottom: #ececec 1px solid;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, minmax(max-content, 1fr));
    grid-auto-rows: auto;
    justify-items: stretch;
    align-items: stretch;
  }

  &__divider {
    border-bottom: #ececec 1px solid;
    margin-bottom: 30px;
  }

  &__files {
    display: flex;
    flex-wrap: wrap;
  }

  &__file-upload-group {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 30px;
  }

  &__file-upload {
    border-radius: 25px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: #1d201c;
    line-height: 21px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 16px;
  }

  &__file-upload-icon {
    width: 20px;
    height: 20px;
  }

  &__file-upload-hidden {
    display: none;
  }
}

