.Task {
  padding: 30px;
  background: #ffffff;
  border-radius: 8px;
  align-self: start;

  &__info-blocks {
    padding-bottom: 30px;
    border-bottom: #ececec 1px solid;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, minmax(max-content, 1fr));
    grid-auto-rows: auto;
    justify-items: stretch;
    align-items: stretch;
  }

  &__divider {
    border-bottom: #ececec 1px solid;
    margin-bottom: 30px;
  }

  &__files {
    display: flex;
    flex-wrap: wrap;
  }
}
