.task__info-block {
  height: 50px;
  margin-right: 30px;
  font-size: 16px;
  line-height: 20px;
  color: #131313;
}

.task__info-block-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 10px;
}

.executor {
  display: flex;
  align-items: center;
}

.task__info-block_icon {
  margin-right: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.executor__initials {
  font-size: 16px;
  line-height: 20px;
  color: #131313;
}

.date {
  font-size: 16px;
  line-height: 20px;
  color: #131313;
}

.department {
  height: 20px;
  width: 112px;
  padding: 4px 10px 4px 10px;
  border-radius: 10.5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}
.department_developement {
  background: #fff1e2;
  color: #ed6400;
}

.department_marketing {
  background: #f5f0ff;
  color: #764ced;
}

.department_design {
  background: #e3efff;
  color: #1975d0;
}
