.TaskInfoBlock {
  margin-right: 30px;
  font-size: 16px;
  line-height: 20px;
  color: #131313;

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 10px;
  }

  &__executor {
    display: flex;
    align-items: center;
  }

  &__executor-photo {
    margin-right: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  &__executor-initials {
    font-size: 16px;
    line-height: 20px;
    color: #131313;
  }

  &__date {
    font-size: 16px;
    line-height: 20px;
    color: #131313;
  }

  &__member {
    margin-right: 5px;
  }
}
