.UserInfo {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  padding: 16px 20px 16px 30px;
  background: #202020;
  margin-bottom: 20px;

  &__avatar {
    margin-right: 15px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }

  &__initials {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }

  &__position {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #9b9b9b;
  }
}

.circleIcon {
  margin-left: auto;
  margin-right: 0;
}
