.Button {
  background: #cef9c6;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #1d201c;

  &:hover {
    background: #caf6bf;
  }
  &:active {
    background: #caffbd;
  }

  &_small {
    width: 20px;
    height: 20px;
  }

  &_medium {
    height: 40px;
    width: 110px;
  }

  &_large {
    height: 50px;
    width: 100%;
  }
}
