.task {
  padding: 30px;
  width: 636px;
  background: #ffffff;
  border-radius: 8px;
}

.task__info-blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: #ececec 1px solid;
  margin-bottom: 30px;
}
