.addition__file {
  display: flex;
  margin-right: 30px;
}

.addition__file-preview {
  background: url('../AdditionFile/img/header.png');
  border-radius: 8px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.addition__file-name {
  font-weight: bold;
  line-height: 21px;
  color: #131313;
}

.addition__file-size {
  line-height: 21px;
  color: #131313;
  opacity: 0.7;
  margin-right: 15px;
}

.addition__file-delete {
  font-weight: bold;
  line-height: 21px;
  color: #ff1000;
  background: transparent;
  padding: 0px;
  border: transparent;
}
