.Tasks {
  display: grid;
  grid-template-columns: 360px auto;
  grid-template-rows: auto auto;
  justify-items: stretch;
  align-items: stretch;
  padding: 30px;
  //height: 1300px;

  ul:first-child {
    margin-bottom: 30px;
  }

  &__scrollBar {
    overflow-y: scroll;
    margin-right: 12px;
    &::-webkit-scrollbar {
      background: #ffffff;
      border-radius: 8px;
      width: 6px;
      margin: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #dcd9d3;
    }
  }

  &__list {
    padding: 30px;
    background: #ffffff;
    border-radius: 8px;
    margin-right: 12px;
  }
}