.tasks {
  display: grid;
  grid-template-columns: 360px auto;
  grid-template-rows: auto auto;
  justify-items: stretch;
  align-items: stretch;
  padding: 30px;
}

.tasks__scrollBar {
  overflow-y: scroll;
  overflow: auto;
  padding-right: 12px;
  margin-right: 12px;
}

.tasks__scrollBar::-webkit-scrollbar {
  width: 6px;
  background-color: #f9f9fd;
  margin: 10px;
}

.tasks__scrollBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dcd9d3;
}

.tasks__group {
  padding: 30px;
  background: #ffffff;
  border-radius: 8px;
  align-self: start;
}
