.stats {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 62px 0px 30px;
  margin-bottom: 30px;
}

.stats__counter {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}
.stats__name {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #9b9b9b;
}
