.TaskDiscussion {
  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 20px;
  }

  &__new-comment {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__comment-user-photo {
    margin-right: 10px;
  }

  &__comment-text {
    margin-right: 10px;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    background: #f2f2f2;
    border-color: transparent;
    padding: 10px 15px;
  }

  &__comment-text::-webkit-input-placeholder {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #131313;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}
