.Comment__author-photo {
    border-radius: 50px;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0;
    right: 91.65%;
    top: 17.86%;
    bottom: 39.29%;
    z-index: 1;
}

.comment__add-author-photo {
    border-radius: 50px;
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }