.tabs {
  display: flex;
}

.tabs__item {
  margin-right: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 8px;
  margin-right: 30px;
  color: rgba(19, 19, 19, 0.7);
  border-bottom: 2px solid transparent;
}

.tabs__item:hover {
  color: rgba(19, 19, 19, 1);
  border-bottom: 2px solid rgba(255, 194, 0, 1);
}

.tabs__item-active {
  color: rgba(19, 19, 19, 1);
  border-bottom: 2px solid rgba(255, 194, 0, 1);
}
