.Icon {
  &_small {
    width: 16px;
    height: 16px;
  }

  &_medium {
    width: 20px;
    height: 20px;
  }

  &__arrowUp {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }

  &_half {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}
