.TaskFiles {
  display: flex;
  margin-right: 30px;
  margin-bottom: 30px;

  &__preview {
    border-radius: 8px;
    border-color: transparent;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  &__name {
    font-weight: bold;
    line-height: 21px;
    color: #131313;
  }

  &__size {
    line-height: 21px;
    color: #131313;
    opacity: 0.7;
    margin-right: 15px;
  }

  &__delete {
    font-weight: bold;
    line-height: 21px;
    color: #ff1000;
    background: transparent;
    padding: 0px;
    border: transparent;
  }

  &__download {
    display: inline-block;
    border-radius: 25px;
    // border: 1px solid #ccc;
    display: inline-block;
    padding-left: 8px;
    cursor: pointer;
    color: #1d201c;
    font-size: 12px;
    line-height: 21px;
    font-weight: bold;
    text-decoration: none;
  }

  &__download-icon {
    width: 16px;
    height: 16px;
  }
}
