.TaskFiles {
  display: flex;
  margin-right: 30px;
  margin-bottom: 30px;

  &__preview {
    border-radius: 8px;
    border-color: transparent;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  &__information {
    padding-right: 10px;
    display: inline-block;
  }

  &__name {
    font-weight: bold;
    line-height: 21px;
    color: #131313;
  }

  &__size {
    line-height: 21px;
    color: #131313;
    opacity: 0.7;
  }

  &__delete {
    background: transparent;
    padding: 0px;
    border: transparent;
  }

  &__download {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
  }

  &__icon-control {
    margin-right: 5px;
    line-height: 21px;
  }
}
