html {
  box-sizing: border-box;
  font-family: -apple-system, 'Helvetica Neue', 'Arial', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #f2f2f2;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
}

.app__content {
  grid-area: content;
}

.app__sidebar {
  grid-area: sidebar;
}

.app__header {
  grid-area: header;
}

.wrapper {
  display: grid;
  grid-template-areas:
    'sidebar header'
    'sidebar content'
    'sidebar content';
  grid-template-columns: 270px auto;
  /* не авто и не 1F - указывать пиксили */
  grid-template-rows: 136px auto;
}
