html {
  box-sizing: border-box;
}

*, *::before, ::after {
  box-sizing: inherit;
}

body {
  background: #F2F2F2;
  font-family: 'Heebo';
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
}
.contentLeft { grid-area: contentLeft;}
    
.contentRight { grid-area: contentRight;}
    
.wrapper {
    display: grid;
    grid-template-areas:
    'sidebar header header'
    'sidebar contentLeft contentRight'
    'sidebar contentLeft contentRight';
    /* grid-template-columns: 270px 1fr 1fr; */
    grid-template-columns: 270px auto auto;
    /* не авто и не 1F - указывать пиксили */
    grid-template-rows: 136px auto auto;
}   