html {
    box-sizing: border-box;
}

*, *::before, ::after {
    box-sizing: inherit;
}

body {
    background: #F2F2F2;
    font-family: 'Heebo';
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-flow: column;
    max-width: 270px;
    padding-bottom: 35px;
    background: #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}    
    
.header { 
    grid-area: header; 
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    background: #FFFFFF;
    height: 136px;
}   
.contentLeft { grid-area: contentLeft;}
    
.contentRight { grid-area: contentRight;}
    
.wrapper {
    display: grid;
    grid-template-areas:
    'sidebar header header'
    'sidebar contentLeft contentRight'
    'sidebar contentLeft contentRight';
    /* grid-template-columns: 270px 1fr 1fr; */
    grid-template-columns: 270px auto auto;
    /* не авто и не 1F - указывать пиксили */
    grid-template-rows: 136px auto auto;
}   

/* sidebar */
 
/* brand */
.brand {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    padding: 30px 20px 0px 30px;
    margin-bottom: 30px;
    text-decoration: none;
    color: seashell;
}

.brand-icon {
    max-width: 100%;
    height: auto;
    margin-right: 12px;
}    

.brand-name {
    font-family: 'Heebo';
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0px;
}   

.brand-search {
    margin-left: auto;
    margin-right: 0;
}
/* brand end  */

/* user info start */
.userInfo {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    padding: 16px 20px 16px 30px;
    background: #202020;
    margin-bottom: 20px;
}

.userInfo-photo {
    margin-right: 15px;
}

.userInfo-photo img{
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.userInfo-initials {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.userInfo-position {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #9B9B9B;
}

.circle {
    background:
    radial-gradient(4px 4px at 65% 50%, #D8D8D8 50%, transparent 50%),
    radial-gradient(4px 4px at 80% 50%, #D8D8D8 50%, transparent 50%),
    radial-gradient(4px 4px at 95% 50%, #D8D8D8 50%, transparent 50%);
    background-repeat: no-repeat;
    width: 40px;
    height:  10px;
    margin-left: auto;
    margin-right: 0;
}

/* user info end */

/* stats start */
.stats {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 62px 0px 30px;
    margin-bottom: 30px;
}

.stats-counter {
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}
.stats-name {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #9B9B9B;
}

/* stats end */

/* menu, projects, teams list start*/
.menuIndent {
    margin-bottom: 30px;
}

.projectsIndent {
    margin-bottom: 30px;
}

.list_teams {
    margin-bottom: 202px;
}

.teamsIndent {
    margin-bottom: 202px;
}

.list a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}


.list-item {
    padding-left: 30px; 
    padding-right: 20px;
    padding-top: 10px;   
    padding-bottom: 10px;
}
.list li:first-child a {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #878787;
    padding-top: 0px;
    padding-left: 30px; 
    padding-right: 20px
}


.list_menu {
    margin-bottom: 30px;
}

.list_projects {
    margin-bottom: 30px;
}

.list-group {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.counter {
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #FFC200;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;

    font-weight: bold;
    font-size: 13px;
    color: #131313;   
}


.list-icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.list-itemActive {
    border-left: 5px solid #FFC200;
    background: #202020;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;   
    padding-bottom: 10px;
} 

#list-footer {
    color: #FFC200;
}

.list-img {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: 0;
}
.list-img img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.list-img img:last-child {
    margin-right: 0px;
}

.sidebar-footer {
    padding-left: 30px; 
    padding-right: 20px;
}

.sidebar-footer span {
    color: #FFC200;
    line-height: 22px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255,194,0, 0.25);
}

.sidebar-footer {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color:#FFFFFF;
}
/* menu, projects, teams list end*/

/* header start*/

.header-cap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo a {
    display: flex;
    min-width: 316px;
    margin-right: 15px;
    align-items: center;
    text-decoration: none;
}

.header-logo img {
    margin-right: 12px;
}
.header-name {
    font-weight: 900;
    font-size: 32px;
    line-height: 47px;

    color: #131313;
}

.header__cap-button {
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;   
    background:  #EAEAEA;
}

.header__cap-button div  {
    background: #9B9B9B;
}

.members {
    display: flex;

}

.users {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 15px;
}

.users a {
    margin-right: 5px;
    text-decoration: none;
}
.users a:last-child {
    margin: 0px;
}

.users a img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.members-сhat {
    height: 30px;
    width: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: #FFF8DD;
}

.members-сhat p {
    color: #FFC200;
}

.members-share{
    height: 30px;
    width: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: #EAEAEA;
    margin-right: 15px;
}

.members-share p {
    color: #131313;
}

.members-name {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}

.tabs {
    display: flex;
}

.tabs a {
    font-family: 'Heebo';
    margin-right: 30px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 8px;   

}

.tabs-inactive {
    margin-right: 30px;
    color: rgba(19,19,19,0.7); 
}

.tabs-active {
    color: rgba(19,19,19,1); 
    border-bottom: 2px solid rgba(255,194,0,1);
}

/* header end */
