.task__description {
  padding-bottom: 30px;
  border-bottom: #ececec 1px solid;
  margin-bottom: 30px;
}

.task__description-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  color: #131313;
}

.task__description-text {
  font-size: 16px;
  line-height: 26px;
  color: #131313;
  margin-bottom: 30px;
}

.addition {
  display: flex;
}
