.members_wrapper {
  display: flex;
}

.members {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 15px;
}

.members__link {
  margin-right: 5px;
  text-decoration: none;
}

.members__link:last-child {
  margin: 0px;
}

.members__avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.members__share {
  height: 30px;
  width: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: #eaeaea;
  margin-right: 15px;
}

.members__share-name {
  color: #131313;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.members__сhat {
  height: 30px;
  width: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: #fff8dd;
}

.members__сhat-name {
  padding-left: 5px;
  color: #ffc200;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}
