html {
  box-sizing: border-box;
  font-family: -apple-system, 'Helvetica Neue', 'Arial', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #f2f2f2;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
}

.wrapper {
  display: grid;
  grid-template-columns: 270px auto;
  grid-auto-rows: auto;
  justify-items: stretch;
  align-items: stretch;
}
