.description {
  padding-bottom: 30px;
  border-bottom: #ececec 1px solid;
  margin-bottom: 30px;
}
.description__title {
  margin-bottom: 20px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  color: #131313;
}

.description__text {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #131313;
  margin-bottom: 30px;
}

.addition {
  display: flex;
}
