.tasks__list {
  margin-bottom: 30px;
}

.tasks__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tasks__title-text {
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  color: #131313;
}

.tasks__add-task {
  height: 40px;
  width: 110px;
  border-radius: 20px;
  background: #cef9c6;
  border: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #1d201c;
}

.tasks__item {
  display: flex;
  align-items: flex-start;
  background: #f7f6f3;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}

.tasks__item-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #131313;
  margin-bottom: 8px;
}

.tasks__item-executor {
  text-decoration: none;
}

.tasks__item-avatar {
  margin-right: 15px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.department {
  height: 20px;
  width: 112px;
  padding: 4px 10px 4px 10px;
  border-radius: 10.5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}

.department_developement {
  background: #fff1e2;
  color: #ed6400;
}

.department_marketing {
  background: #f5f0ff;
  color: #764ced;
}

.department_design {
  background: #e3efff;
  color: #1975d0;
}

/* прячем input checkbox */
.tasks__checkbox-hidden {
  display: none;
}

/* стили для метки */
.tasks__checkbox-new {
  color: #000;
  line-height: 30px;
  padding: 4px 0;
  vertical-align: middle;
  cursor: pointer;
}

.tasks__checkbox-new:before {
  content: url('./img/checkOf.svg');
  color: #000;
  display: inline-block;
  margin-right: 12px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 4px;
  border-image: initial;
  vertical-align: middle;
}

.tasks__checkbox-new_active {
  color: #cef9c6;
  line-height: 30px;
  padding: 4px 0;
  vertical-align: middle;
  cursor: pointer;
}

.tasks__checkbox-new_active:before {
  content: url('./img/checkOn.svg');
  color: #000;
  display: inline-block;
  margin-right: 12px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 30px;
  height: 30px;
  background: #cef9c6;
  border-radius: 4px;
  border-image: initial;
  vertical-align: middle;
}
